<%= form_with(model: tweet) do |f| %>
  <%= render "shared/form_errors", form: f %>

    <div class="form-group mb-3">
      <%= f.label :twitter_account_id %>
      <%= f.collection_select :twitter_account_id, Current.user.twitter_accounts, :id, :username, {}, {class: "form-control"} %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :publish_at %>
      <div class="form-control">
        <%= f.datetime_select :publish_at %>
      </div>
    </div>

    <%= f.submit(class: "btn btn-primary") %>

    <!---- Link to because a button_to makes the submit button above submit it instead of the form ---->
    <% if f.object.persisted? %>
      <%= link_to "Delete", f.object, method: :delete, data: {confirm: "Are you sure?"},
        class: "ml-3 btn btn-outline-danger" %>
    <% end %>
<% end %>
